<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>S3</title>
    <link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="supporting_templates/style.css"> -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">

</head>


<body>
    
              {% include 'components/sidebar.html' %}

            <div class="body">
                <!-- cards -->
                <h1>Column Customization and Sorting</h1>
                <h6 style="padding-left: 30px;">Adjust columns and sort data.</h6>
                <table>
                    <tr>
                        <th>Document</th>
                        <th>Date Created</th>
                        <th>
                            <label for="sorter">Sort By:</label>
                            <select name="sorter" id="sorter">
                                <option value="">--select sort type--</option>
                                <option value="date created">By Date Created</option>
                                <option value="name">By Name</option>
                                <option value="date modified">By Date Modified</option>
                            </select>
                            <label for="order"></label>
                            <select name="order" id="order">
                                <option value="">--order--</option>
                                <option value="ascending">Ascending</option>
                                <option value="descending">Descending</option>
                            </select>
                        </th>
                    </tr>

                    <tr>
                        <td>Contract_Legal_20250320_Client123_Signed.pdf</td>
                        <td>2025/03/20</td>
                    </tr>

                    <tr>
                        <td>Invoice_Finance_20250424_ClientABC_V1.pdf</td>
                        <td>2025/04/24</td>
                    </tr>

                    <tr>
                        <td>Minutes_Admin_20250423_TeamMeeting_V1.docx</td>
                        <td>2025/04/25</td>
                    </tr>

                    <tr>
                        <td>Report_Sales_20250401_Q1Performance_V1.docx</td>
                        <td>2025/04/01</td>
                    </tr>
                </table>
            </div>

                
            <div class="chatbot">
                <!-- chatbot -->
                {% include 'components/chatbot.html' %}
            </div>
    
</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
    crossorigin="anonymous"></script>

{% load static %}
<script src="{% static 'script.js' %}"></script>


</html>