
                                                    <!-- {# % with history_dict|dictsort:vendor.id as logs % #}
                                                        {# % if logs % #}
                                                            {# % for log in history_dict|dictsort:vendor.id % #}
                                                                <div>{# { log } #}</div>
                                                            {% endfor %}
                                                        {# % else % #}
                                                            <div>No transactions found for ID {{ vendor.id }}</div>
                                                        {# % endif % #} -->
                                                        <!-- {# % endwith % #} -->

                                                        
                                        <!-- {% with prc_history_dict as records %}
                                            {% if records %}
                                                {% for record in records %}
                                                    <div>{{ record }}</div>
                                                {% endfor %}
                                            {% else %}
                                                <div>No transactions found</div>
                                            {% endif %}
                                        {% endwith %} -->