  {% load static %}
  <nav>
    <a  href="{% url 'dashboard' %}">
      <div id="logo"><img src="{% static 'logo.png' %}" alt="Micro Finance" style="height: 100px;"></div>
    </a>
    <ul>
      <li class="dropdown">
        <a href="#">Reservation Management</a>
        <ul class="dropdown-content">
          <li><a href="{% url 'booking_requests' %}">Booking Request</a></li>
          <li><a href="{% url 'reservation_approval' %}">Reservation Approval</a></li>
          <li><a href="{% url 'booking_history' %}">Booking History</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#">Vehicle Allocation</a>
        <ul class="dropdown-content">
          <li><a href="{% url 'fleet_assignment' %}">Fleet Assignment</a></li>
          <li><a href="{% url 'vehicle_status_monitoring' %}">Vehicle Status Monitoring</a></li>
          <li><a href="{% url 'usage_reports' %}">Usage Reports</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#">Maintenance Integration</a>
        <ul class="dropdown-content">
          <li><a href="{% url 'inspection_scheduling' %}">Inspection Scheduling</a></li>
          <li><a href="{% url 'usage_compliance' %}">Usage Compliance</a></li>
          <li class="nav-active">Repair &amp; Maintenance Request</li>        
        </ul>
      </li>
    </ul>
    
  </nav>