{% load static %}
<header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="{% url 'dashboard' %}" class="logo">
                        <img src="{% static 'images/random-logo.png' %}" style="border-radius: 80px; height: 50px; width: auto;" alt="">
                    </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <li><a href="{% url 'index_market' %}" class="active">Home</a></li>
                        <li><a href="{% url 'explore' %}"> Explore</a></li>
                        <li><a href="{% url 'item_details' %}">Item Details</a></li>
                        <li><a href="{% url 'author' %}">Author</a></li>
                        <li><a href="{% url 'vendor_signup' %}">Become a Vendor</a></li>
                      </ul>   
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
  </header>