<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta content="width=device-width, initial-scale=1" name="viewport" />
  <link rel="stylesheet" href="VR.css"/>
  <title>Booking Requests</title>
</head>
<body>
  <main class="container">
    <section class="form-section">
      <h1 id="booking-h1">Booking Request</h1>
      <p class="subtitle">View and manage vehicle booking requests.</p>
      <form id="booking-form" class="booking-form" onsubmit="addBooking(event)">
        <div class="form-group">
          <label for="username">User Name:</label>
          <input id="user-name" name="user-name" type="text" placeholder="Enter your name" required />
        </div>

        <div class="form-group">
          <label for="user-destination">User Destination:</label>
          <input id="destination" name="user-destination" type="text" placeholder="Enter Destination" required />
        </div>
        
        <div class="form-group">
          <label for="pickup-date">Pickup Date</label>
          <input id="pickup-date" name="pickup-date" type="date" required />
        </div>

        <div class="form-group">
          <label for="return-date">Return Date</label>
          <input id="return-date" name="return-date" type="date" required />
        </div>
        
        <div class="form-group">
          <label for="type-car">Type of Car</label>
          <select id="type-car" name="type-car" required>
            <option value="" disabled selected>Select a car type</option>
            <option value="SUV">SUV</option>
            <option value="Vans">Vans</option>
            <option value="Pickup Trucks">Pickup Trucks</option>
            <option value="Flatbed Trucks">Flatbed Trucks</option>
          </select>
        </div>
        <button type="submit" class="btn-submit">Book Reservation</button>
      </form>

    </section>
  </main>

  <script src="VR.js"></script>
</body>
</html>
