<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="author" content="templatemo">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">

    <title>Trulend</title>

    <!-- Bootstrap core CSS -->
    <!-- <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">

    {% load static %}
    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{% static 'css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'css/templatemo-liberty-market.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css"/>

  </head>

<body>

  <!-- ***** Preloader Start ***** -->
  <div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <!-- ***** Preloader End ***** -->

  <header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <!-- <a href="{# % url 'dashboard' % #}" class="logo"> -->
                    <a href="{% url 'index_market' %}" class="logo">
                        <img src="{% static 'images/TruLend.png' %}" style="border-radius: 80px; height: 90px; width: 150px;" alt="">
                    </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <li><a href="{% url 'index_market' %}" class="active">Home</a></li>
                        <li><a href="{% url 'explore' %}"> Explore</a></li>
                        <li><a href="{% url 'signin' %}">Profile</a></li>
                        <li><a href="{% url 'vendor_signup' %}">Become a Vendor</a></li>
                      </ul>   
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
  </header>


  <!-- ***** Main Banner Area Start ***** -->
  <div class="main-banner" id="main_banner">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 align-self-center">
          <div class="header-text">
            <h6>TruLend</h6>
            <h2>Microfinancing Company</h2>
            <p>is dedicated to providing accessible, flexible, and responsible financial solutions to individuals, small businesses, and underserved communities. We believe in creating opportunities whether it's starting a business, expanding operations, or securing a better future for your family.</p>
            <div class="buttons">
              <div class="border-button">
                <a href="{% url 'explore' %}">Explore Vendor Services</a>
              </div>
              <div class="main-button">
                <a href="#main_banner" target="_blank">Watch Video About Us</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-5 offset-lg-1">
          <div class="owl-banner owl-carousel">
            <div class="item">
              <img src="{% static 'images/banner-01.png' %}" alt="">
            </div>
            <div class="item">
              <img src="{% static 'images/banner-02.png' %}" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ***** Main Banner Area End ***** -->
  
  <div class="categories-collections">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="categories">
            <div class="row">
              <div class="col-lg-12">
                <div class="section-heading">
                  <div class="line-dec"></div>
                  <h2>Browse Through Our <em>Categories</em> Here.</h2>
                </div>
              </div>
              <div class="col-lg-2 col-sm-6">
                <div class="item">
                  <div class="icon">
                    <img src="{% static 'images/personal-fin.png' %}" alt="">
                  </div>
                    <h4>Personal</h4>
                  <div class="icon-button">
                    <a href="#"><i class="fa fa-angle-right"></i></a>
                  </div>
                </div>
              </div>
              <div class="col-lg-2 col-sm-6">
                <div class="item">
                  <div class="icon">
                    <img src="{% static 'images/mortgage.png' %}" alt="">
                  </div>
                  <h4>Mortgage</h4>
                  <div class="icon-button">
                    <a href="#"><i class="fa fa-angle-right"></i></a>
                  </div>
                </div>
              </div>
              <div class="col-lg-2 col-sm-6">
                <div class="item">
                  <div class="icon">
                    <img src="{% static 'images/car.png' %}" alt="">
                  </div>
                  <h4>Auto</h4>
                  <div class="icon-button">
                    <a href="#"><i class="fa fa-angle-right"></i></a>
                  </div>
                </div>
              </div>
              <div class="col-lg-2 col-sm-6">
                <div class="item">
                  <div class="icon">
                    <img src="{% static 'images/business.svg' %}" alt="">
                  </div>
                  <h4>Business</h4>
                  <div class="icon-button">
                    <a href="#"><i class="fa fa-angle-right"></i></a>
                  </div>
                </div>
              </div>
              <div class="col-lg-2 col-sm-6">
                <div class="item">
                  <div class="icon">
                    <img src="{% static 'images/credit.png' %}" alt="">
                  </div>
                  <h4>Credit Lines</h4>
                  <div class="icon-button">
                    <a href="#"><i class="fa fa-angle-right"></i></a>
                  </div>
                </div>
              </div>
              <div class="col-lg-2 col-sm-6">
                <div class="item">
                  <div class="icon">
                    <img src="{% static 'images/refinance.png' %}" alt="">
                  </div>
                  <h4>Refinancing</h4>
                  <div class="icon-button">
                    <a href="#"><i class="fa fa-angle-right"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="collections">
            <div class="row">
              <div class="col-lg-12">
                <div class="section-heading">
                  <div class="line-dec"></div>
                  <h2>Explore Some Hot <em>Collections</em> In Market.</h2>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="owl-collection owl-carousel">
                  <div class="item">
                    <img src="{% static 'images/car.jpg' %}" alt="">
                    <div class="down-content">
                      <h4>Auto</h4>
                      <p>Drive your dreams with flexible auto financing solutions.</p>
                      <div class="main-button">
                        <a href="explore.html">Explore</a>
                      </div>
                    </div>
                  </div>
                  <div class="item">
                    <img src="{% static 'images/person-fin-card.jpg' %}" alt="">
                    <div class="down-content">
                      <h4>Personal</h4>
                      <p>Effortlessly manage, track, and grow your wealth with our all-in-one personal finance solution.</p>
                      <div class="main-button">
                        <a href="explore.html">Explore</a>
                      </div>
                    </div>
                  </div>
                  <div class="item">
                    <img src="{% static 'images/biz-illustration.jpg' %}" alt="">
                    <div class="down-content">
                      <h4>Business</h4>
                      <p>Streamline your financial management and fuel growth with our comprehensive business finance solution.
                      </p>
                      <div class="main-button">
                        <a href="explore.html">Explore</a>
                      </div>
                    </div>
                  </div>
                  <div class="item">
                    <img src="{% static 'images/house.jpg' %}" alt="">
                    <div class="down-content">
                      <h4>Mortgage</h4>
                      <p>Secure your dream home with confidence through our tailored mortgage solutions.</p>
                      <div class="main-button">
                        <a href="explore.html">Explore</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div> 
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="create-nft">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div class="section-heading">
            <div class="line-dec"></div>
            <h2>Create &amp; Put It On The Market.</h2>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="main-button">
            <a href="create.html">Add Product Now</a>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="item first-item">
            <div class="number">
              <h6>1</h6>
            </div>
            <div class="icon">
              <img src="{% static 'images/icon-02.png' %}" alt="">
            </div>
            <h4>Set Wallet and Paperworks</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati itaque suscipit accusantium!</p>
            <p></p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="item second-item">
            <div class="number">
              <h6>2</h6>
            </div>
            <div class="icon">
              <img src="{% static 'images/icon-04.png' %}" alt="">
            </div>
            <h4>Add Your Car Here</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus cumque laboriosam minus!</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="item">
            <div class="icon">
              <img src="{% static 'images/icon-06.png' %}" alt="">
            </div>
            <h4>Make it Public and Wait</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos atque voluptates unde.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="currently-market">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="section-heading">
            <div class="line-dec"></div>
            <h2><em>Items</em> Currently On Bid.</h2>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="filters">
            <ul>
              <li data-filter="*"  class="active">All Items</li>
              <li data-filter=".msc">Sedan</li>
              <li data-filter=".dig">Sport's Car</li>
              <li data-filter=".blc">Hatchback</li>
              <li data-filter=".vtr">SUV</li>
            </ul>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="row grid">
            <div class="col-lg-6 currently-market-item all msc">
              <div class="item">
                <div class="left-image">
                  <img src="{% static 'images/market-01.jpg' %}" alt="" style="border-radius: 20px; min-width: 195px;">
                </div>
                <div class="right-content">
                  <h4>Honda Accord</h4>
                  <span class="author">
                    <img src="{% static 'images/user.png' %}" alt="" style="max-width: 50px; border-radius: 50%;">
                    <h6>Honda<br><a href="#">@Honda</a></h6>
                  </span>
                  <div class="line-dec"></div>
                  <span class="bid">
                    Current Bid<br><strong>2.03 ETH</strong><br><em>($8,240.50)</em>
                  </span>
                  <span class="ends">
                    Ends In<br><strong>4D 08H 15M 42S</strong><br><em>(July 24th, 2022)</em>
                  </span>
                  <div class="text-button">
                    <a href="details.html">View Item Details</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 currently-market-item all dig">
              <div class="item">
                <div class="left-image">
                  <img src="{% static 'images/market-01.jpg' %}" alt="" style="border-radius: 20px; min-width: 195px;">
                </div>
                <div class="right-content">
                  <h4>911</h4>
                  <span class="author">
                    <img src="{% static 'images/user.png' %}" alt="" style="max-width: 50px; border-radius: 50%;">
                    <h6> Porsche<br><a href="#">@ Porsche</a></h6>
                  </span>
                  <div class="line-dec"></div>
                  <span class="bid">
                    Current Bid<br><strong>2.03 ETH</strong><br><em>($7,200.50)</em>
                  </span>
                  <span class="ends">
                    Ends In<br><strong>2D 06H 30M 25S</strong><br><em>(July 26th, 2022)</em>
                  </span>
                  <div class="text-button">
                    <a href="details.html">View Item Details</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 currently-market-item all blc">
              <div class="item">
                <div class="left-image">
                  <img src="{% static 'images/market-01.jpg' %}" alt="" style="border-radius: 20px; min-width: 195px;">
                </div>
                <div class="right-content">
                  <h4>Golf</h4>
                  <span class="author">
                    <img src="{% static 'images/user.png' %}" alt="" style="max-width: 50px; border-radius: 50%;">
                    <h6> Volkswagen Golf<br><a href="#">@Volkswagen</a></h6>
                  </span>
                  <div class="line-dec"></div>
                  <span class="bid">
                    Current Bid<br><strong>3.64 ETH</strong><br><em>($6,600.00)</em>
                  </span>
                  <span class="ends">
                    Ends In<br><strong>6D 05H 40M 50S</strong><br><em>(July 28th, 2022)</em>
                  </span>
                  <div class="text-button">
                    <a href="details.html">View Item Details</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 currently-market-item all vtr">
              <div class="item">
                <div class="left-image">
                  <img src="{% static 'images/market-01.jpg' %}" alt="" style="border-radius: 20px; min-width: 195px;">
                </div>
                <div class="right-content">
                  <h4>RAV4</h4>
                  <span class="author">
                    <img src="{% static 'images/user.png' %}" alt="" style="max-width: 50px; border-radius: 50%;">
                    <h6>Toyota<br><a href="#">@libertyart</a></h6>
                  </span>
                  <div class="line-dec"></div>
                  <span class="bid">
                    Current Bid<br><strong>2.44 ETH</strong><br><em>($8,800.50)</em>
                  </span>
                  <span class="ends">
                    Ends In<br><strong>3D 05H 20M 58S</strong><br><em>(July 14th, 2022)</em>
                  </span>
                  <div class="text-button">
                    <a href="details.html">View Item Details</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 currently-market-item all vrt dig">
              <div class="item">
                <div class="left-image">
                  <img src="{% static 'images/market-01.jpg' %}" alt="" style="border-radius: 20px; min-width: 195px;">
                </div>
                <div class="right-content">
                  <h4>Corvette</h4>
                  <span class="author">
                    <img src="{% static 'images/user.png' %}" alt="" style="max-width: 50px; border-radius: 50%;">
                    <h6>Chevrolet<br><a href="#">@Chevrolet</a></h6>
                  </span>
                  <div class="line-dec"></div>
                  <span class="bid">
                    Current Bid<br><strong>2.50 ETH</strong><br><em>($8,400.50)</em>
                  </span>
                  <span class="ends">
                    Ends In<br><strong>4D 08H 32M 18S</strong><br><em>(July 16th, 2022)</em>
                  </span>
                  <div class="text-button">
                    <a href="details.html">View Item Details</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 currently-market-item all msc blc">
              <div class="item">
                <div class="left-image">
                  <img src="{% static 'images/market-01.jpg' %}" alt="" style="border-radius: 20px; min-width: 195px;">
                </div>
                <div class="right-content">
                  <h4>Model S</h4>
                  <span class="author">
                    <img src="{% static 'images/user.png' %}" alt="" style="max-width: 50px; border-radius: 50%;">
                    <h6>Tesla<br><a href="#">@Tesla</a></h6>
                  </span>
                  <div class="line-dec"></div>
                  <span class="bid">
                    Current Bid<br><strong>2.44 ETH</strong><br><em>($8,200.50)</em>
                  </span>
                  <span class="ends">
                    Ends In<br><strong>5D 10H 22M 24S</strong><br><em>(July 18th, 2022)</em>
                  </span>
                  <div class="text-button">
                    <a href="details.html">View Item Details</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <p>Copyright © 2025 <a href="#">TruLend</a> Microfinancing Co., All rights reserved.</p>
        </div>
      </div>
    </div>
  </footer>


  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
  <!-- <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'assets/js/isotope.min.js' %}"></script>
  <script src="{% static 'assets/js/owl-carousel.js' %}"></script> -->

  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
  
  <script src="{% static 'assets/js/tabs.js' %}"></script>
  <script src="{% static 'assets/js/popup.js' %}"></script>
  <script src="{% static 'assets/js/custom.js' %}"></script>
  

  </body>
</html>