<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
</head>
<body>
    <div class="container">
        <h2>Sign Up</h2>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Sign Up</button>
        </form>
    </div>

    <div>
        <a href="{% url 'signin' %}">
            <button style="height: 200px; width: auto;">sdfsdf

            </button>
        </a>
    </div>
</body>
</html>
