<li class="sidebar-item">
    <a href="#" class="sidebar-link">
        <i class="lni lni-user"></i>
        <span>Profile</span>
    </a>
</li>
<li class="sidebar-item">
    <a href="#" class="sidebar-link">
        <i class="lni lni-agenda"></i>
        <span>Task</span>
    </a>
</li>




<!-- Submodule Vendor Portal -->
<li class="sidebar-item">


    <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse"
        data-bs-target="#vendor-multi" aria-expanded="false" aria-controls="multi">
        <i class="lni lni-layout"></i>
        <span>Vendor Portal</span>
        <!-- <span>Vendor Manager</span> -->
    </a>

    <ul id="vendor-multi" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">

        <li class="sidebar-item">
            <a href="#" class="sidebar-link collapsed" data-bs-toggle="collapse"
                data-bs-target="#vendor-sub1" aria-expanded="false" aria-controls="vendor-sub1">
                Vendor Manager
            </a>

            <div class="ps-3">
                <ul id="vendor-sub1" class="sidebar-dropdown list-unstyled collapse">
                    <li class="sidebar-item">
                        <a href="{% url 'vendor_activation' %}" class="sidebar-link">Vendor Activation</a>
                    </li>
                    <li class="sidebar-item">
                        <a href="{% url 'vendor_details' %}" class="sidebar-link">Vendor Details</a>
                    </li>
                        <a href="{% url 'tracks' %}" class="sidebar-link">Tracks</a>
                    </li>
                </ul>
            </div>
        </li>

        <li class="sidebar-item">
            <a href="#" class="sidebar-link collapsed" data-bs-toggle="collapse"
                data-bs-target="#vendor-sub2" aria-expanded="false" aria-controls="vendor-sub2">
                Vendor Transaction
            </a>

            <div class="ps-3">
                <ul id="vendor-sub2" class="sidebar-dropdown list-unstyled collapse">
                    <li class="sidebar-item">
                        <a href="{% url 'orders' %}" class="sidebar-link">Orders</a>
                    </li>
                    <li class="sidebar-item">
                        <a href="{% url 'invoices' %}" class="sidebar-link">Invoices</a>
                    </li>
                    <li class="sidebar-item">
                        <a href="{% url 'cancel_transaction' %}" class="sidebar-link">Cancel Transaction</a>
                    </li>
                </ul>
            </div>
        </li>

        <li class="sidebar-item">
            <a href="#" class="sidebar-link collapsed" data-bs-toggle="collapse"
                data-bs-target="#vendor-sub3" aria-expanded="false" aria-controls="vendor-sub3">
                Vendor Performance
            </a>

            <div class="ps-3">
                <ul id="vendor-sub3" class="sidebar-dropdown list-unstyled collapse">
                    <li class="sidebar-item">
                        <a href="{% url 'ratings' %}" class="sidebar-link">Ratings</a>
                    </li>
                    <li class="sidebar-item">
                        <a href="{% url 'summary' %}" class="sidebar-link">Summary</a>
                    </li>
                    <li class="sidebar-item">
                        <a href="{% url 'request_meetup' %}" class="sidebar-link">Request Meet-up</a>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</li>









<!-- <li class="sidebar-item">
    <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse"
        data-bs-target="#auth" aria-expanded="false" aria-controls="auth">
        <i class="lni lni-protection"></i>
        <span>Auth</span>
    </a>
    <ul id="auth" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
        <li class="sidebar-item">
            <a href="#" class="sidebar-link">Login</a>
        </li>
        <li class="sidebar-item">
            <a href="#" class="sidebar-link">Register</a>
        </li>
    </ul>
</li> -->







<!-- stop editing from this line -->


<li class="sidebar-item">
    <a href="#" class="sidebar-link">
        <i class="lni lni-popup"></i>
        <span>Notification</span>
    </a>
</li>
<li class="sidebar-item">
    <a href="#" class="sidebar-link">
        <i class="lni lni-cog"></i>
        <span>Setting</span>
    </a>
</li>